<h2>Password reset</h2>
<p>
    You have requested to reset your password for your account at arran.gr. Follow this link to complete the action.
</p>
<p>
    <a href="{{link}}">{{link}}</a>
</p>
<p>
    Regards, Arran.gr
</p>