<div class="logincontainer">

    <form novalidate>
        <label class="textshadow">Group1</label>

        <div class="control-group {{form.getField('notEmptyInput').status}}">

            <div class="controls">
                <input type="text" name="notEmpty" ng-model="form.getField('notEmptyInput').value"
                       placeholder="I should not be empty">
                <span class="help-inline">{{form.getField('notEmptyInput').error.message}}</span>
            </div>
        </div>

        <div class="control-group {{form.getField('optionalInput').status}}">

            <div class="controls">
                <input type="text" name="optional" ng-model="form.getField('optionalInput').value"
                       placeholder="{{form.getField('optionalInput').placeholder}}">
                <span class="help-inline">{{form.getField('optionalInput').error.message}}</span>
            </div>
        </div>

        <div class="control-group {{form.getField('customValidatorInput').status}}">

            <div class="controls">
                <input type="password" name="custom"
                       ng-model="form.getField('customValidatorInput').value"
                       placeholder="{{form.getField('customValidatorInput').placeholder}}">
                <span class="help-inline">{{form.getField('customValidatorInput').error.message}}</span>
            </div>
        </div>


        <label class="textshadow">Misc static fields (group2)</label>

        <div class="control-group {{form.getField('passwordInput').status}}">

            <div class="controls">
                <input type="password" name="password"
                       ng-model="form.getField('passwordInput').value"
                       placeholder="{{form.getField('passwordInput').placeholder}}">
                <span class="help-inline">{{form.getField('passwordInput').error.message}}</span>
            </div>
        </div>
        <div class="control-group {{form.getField('checkMeCheckbox').status}}">
            <div class="controls">
                <label class="checkbox">
                    <input ng-model="form.getField('checkMeCheckbox').checked" type="checkbox">
                    Please check me
                </label>

            </div>
        </div>

        <div class="control-group {{form.getField('primesSelect').status}}">
            <div class="controls">



                <select ng-model="form.getField('primesSelect').value" ng-options="value for (key,value) in form.getField('primesSelect').options">
                    <option value="">-- choose a prime --</option>

                </select>
                <span class="help-inline">{{form.getField('primesSelect').error.message}}</span>
            </div>
        </div>


        <br/>

        <p>
            <button ng-click="form.clear()" class="btn btn">Reset form!
            </button>
            <button ng-click="showData()" class="btn btn">Show me ze data!
            </button>
        </p>

        <div class="alert alert-{{form.global.status}}" ng-show="form.global.message">
            {{form.global.message}}
        </div>
        <p>
            <button ng-click="form.validate('one')" class="btn btn-primary">Validate group 1
            </button>

            <button ng-click="form.validate('two')" class="btn btn-primary">Validate group 2
            </button>

            <button ng-click="form.validate()" class="btn btn-primary">Validate all
            </button>
        </p>

        <p>
            <button ng-click="submit()"
                    class="btn btn-danger">Submit
            </button>

        </p>


    </form>

    <div class="textshadow">
        Go back to <a href="/login">Sign in!</a>
    </div>


</div>