<span class="pull-right">
<a class="btn btn-danger" href="/groups/{{group.key}}">
    {{'%BUTTON_BACK%' | phrase}}
</a>
</span>

<div class="p">
    <div class="pull-left imagedrop" upload-url="group.thumbnailPath()">
        <img class="thumbnail" ng-show="group.image" ng-src="{{ group.image.data }}"/>
        <span class="thumbnail message" ng-show="!group.image && group.isAdmin(user)">Drop image here.</span>
    </div>

    <h2>
        {{group.name}}
        <small ng-show="group.startDate">{{ group.startDate | amCalendar }}<span ng-show="group.endDate"> for {{ group.duration() | amDurationFormat }}</span></small>
    </h2>
    <p ng-bind-html-unsafe="group.description"></p>

    <div class="clearfix"></div>
</div>


<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <h2>Edit group</h2>

        <form novalidate class="form" role="form" name="groupForm" ng-submit="update()">

            <div class="form-group">
                <label class="control-label" for="groupFormName">Name</label>
                <input required class="form-control" id="groupFormName" type="text"
                       ng-model="groupModel.name" name="name" placeholder=""/>
            </div>
            <div class="form-group">
                <label class="control-label" for="groupFormDescription">Description</label>
                <textarea rows="5" cols="50" class="form-control" id="groupFormDescription"
                          type="text"
                          ng-model="groupModel.description" name="description" placeholder=""/>
            </div>
            <div class="form-group">
                <label class="control-label" for="groupFormStartDate">Starts</label>
                <div class="row">
                    <div class="col-md-7">
                        <input class="form-control" type="date" id="groupFormStartDate" name="startDate" ng-model="groupModel.startDate"/>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="time" id="groupFormStartTime" name="startTime" ng-model="groupModel.startTime"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="groupFormEndDate">Ends</label>
                <div class="row">
                    <div class="col-md-7">
                        <input class="form-control" type="date" id="groupFormEndDate" name="endDate" ng-model="groupModel.endDate"/>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="time" id="groupFormEndTime" name="endTime" ng-model="groupModel.endTime"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label class="control-label" for="groupFormPublic">Public</label>
                    <input class="form-control" id="groupFormPublic" type="checkbox"
                           ng-model="groupModel.public" name="public"/>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="control-label" for="groupFormMinParticipants">Min participants</label>
                    <input class="form-control" id="groupFormMinParticipants" type="number"
                           ng-model="groupModel.minParticipants" name="minParticipants" placeholder=""/>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="control-label" for="groupFormMaxParticipants">Max participants</label>
                    <input class="form-control" id="groupFormMaxParticipants" type="number"
                           ng-model="groupModel.maxParticipants" name="maxParticipants" placeholder=""/>
                </div>
            </div>


            <button type="submit" class="btn btn-success">{{'%BUTTON_UPDATE%' | phrase}}</button>
        </form>
    </div>

    <div class="col-lg-5 col-md-6 col-sm-6">
        <h2>Members</h2>

        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="member in group.members | orderBy:['user.displayName()']">
                <td>
                    <img ng-src="{{ member.user.thumbnailSrc() }}" width="25" height="25"/>
                    {{ member.user.displayName() }}
                </td>
                <td class="col-sm-2">
                    <button href="#" class="btn btn-xs" ng-class="{'btn-success': member.admin}" ng-click="toggleAdmin(member)">Admin</button>
                </td>
                <td class="col-sm-1">
                    <a title="Remove member" class="text-danger" href="#"
                       ng-show="group.isAdmin(user) && user.id != member.user.id"
                       ng-click="removeMember(member)"
                       ng-confirm-click="Are you sure?">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <h2>Actions</h2>

        <div>
            <h3>Next meetup</h3>

            <p>Create next meetup</p>
            <a href="#" ng-click="increment()" class="btn btn-info">{{'%BUTTON_NEXT%' | phrase}}</a>
        </div>
    </div>

</div>

