<span class="pull-right" ng-show="group.isMember(user) && !group.isAdmin(user)">
    <button ng-click="leave(currentMember)" class="btn btn-danger">
        {{ '%BUTTON_LEAVE%' | phrase }}
    </button>
</span>

<p class="pull-right" ng-show="user && !group.isMember(user)">
    <button ng-click="join(user)" class="btn btn-success">
        {{ '%BUTTON_JOIN%' | phrase }}
    </button>
</p>

<div class="p">
    <div class="pull-left imagedrop" upload-url="group.thumbnailPath()">
        <img class="thumbnail" ng-show="group.image" ng-src="{{ group.image.data }}"/>
        <span class="thumbnail message" ng-show="!group.image && group.isAdmin(user)">Drop image here.</span>
    </div>

    <h2>
        {{group.name}}
        <small ng-show="group.startDate">{{ '%WEEKDAY_' + group.weekday() + '%' | phrase }} at {{group.time()}}</small>
    </h2>
    <p>{{group.description}}</p>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-8">

        <p><span class="badge">{{ group.statusCount('Yes') }}</span> yes, <span class="badge">{{ group.statusCount('Maybe') }}</span>
            maybe and <span class="badge">{{ group.statusCount('No') }}</span> no out of <span class="badge">{{ group.members.length }}</span>
            total.</p>

        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="member in group.members">
                <td>
                    <img src="http://www.gravatar.com/avatar/{{member.user.hashedEmail}}?s=25&d=mm"/>
                    {{ member.user.displayName() }}
                </td>
                <td>
                    <span ng-show="member.status == 'Yes'"
                          class="label label-success">{{ '%LABEL_YES%' | phrase }}</span>
                    <span ng-show="member.status == 'Maybe'"
                          class="label label-warning">{{ '%LABEL_MAYBE%' | phrase }}</span>
                    <span ng-show="member.status == 'No'" class="label label-danger">{{ '%LABEL_NO%' | phrase }}</span>
                </td>
                <td>
                    <a title="Remove member" class="text-danger" href="#"
                       ng-show="group.isAdmin(user) && user.id != member.user.id" ng-click="removeMember(member)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4">
        <div ng-show="group.isMember(user)">
            <h3>Are you going?</h3>
            <div class="btn-group btn-group-justified">
                <a ng-click="yes()" class="btn btn-default" ng-class="{'btn-success':currentMember.status == 'Yes'}">
                    {{ '%BUTTON_YES%' | phrase }}
                </a>
                <a ng-click="maybe()" class="btn btn-default" ng-class="{'btn-warning':currentMember.status == 'Maybe'}">
                    {{ '%BUTTON_MAYBE%' | phrase }}
                </a>
                <a ng-click="no()" class="btn btn-default" ng-class="{'btn-danger':currentMember.status == 'No'}">
                    {{ '%BUTTON_NO%' | phrase }}
                </a>
            </div>
        </div>

        <form class="form" role="form" ng-show="!user" ng-submit="join()">
            <h3>Join meetup</h3>
            <div class="form-group {{joinForm.getField('email').status}}">
                <input class="form-control" ng-model="joinForm.getField('email').value" placeholder="Enter your email"
                       type="text">
                <span class="help-inline">{{joinForm.getField('email').message}}</span>
            </div>
        </form>

        <form class="form" role="form" ng-show="group.isAdmin(user) || group.public && group.isMember(user)"
              ng-submit="invite()">
            <h3>Invite friends</h3>
            <div class="form-group {{inviteForm.fields.email.status}}">
                <input class="form-control" ng-model="inviteForm.getField('email').value"
                       placeholder="Enter email to invite" type="text">
                <span class="help-inline">{{inviteForm.fields.email.message}}</span>
            </div>
        </form>

        <form class="form" role="form" ng-submit="update()" ng-show="group.isAdmin(user)">
            <h3>Edit group</h3>
            <div class="form-group">
                <label class="control-label" for="groupFormName">Name</label>
                <input class="form-control" id="groupFormName" type="text" ng-model="groupForm.getField('name').value" placeholder=""/>
            </div>
            <div class="form-group">
                <label class="control-label" for="groupFormDescription">Description</label>
                <input class="form-control" id="groupFormDescription" type="text" ng-model="groupForm.getField('description').value" placeholder=""/>
            </div>
            <div class="form-group">
                <label class="control-label" for="groupFormWeekday">Weekday</label>
                <select id="groupFormWeekday" class="form-control" ng-model="groupForm.getField('weekday').value">
                    <option value="1">{{ '%WEEKDAY_1%' | phrase }}</option>
                    <option value="2">{{ '%WEEKDAY_2%' | phrase }}</option>
                    <option value="3">{{ '%WEEKDAY_3%' | phrase }}</option>
                    <option value="4">{{ '%WEEKDAY_4%' | phrase }}</option>
                    <option value="5">{{ '%WEEKDAY_5%' | phrase }}</option>
                    <option value="6">{{ '%WEEKDAY_6%' | phrase }}</option>
                    <option value="0">{{ '%WEEKDAY_0%' | phrase }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="groupFormTime">Time</label>
                <input class="form-control" id="groupFormTime" type="time" ng-model="groupForm.getField('time').value" placeholder=""/>
            </div>
            <div class="form-group">
                <label class="control-label" for="groupFormPublic">Public</label>
                <input class="form-control" id="groupFormPublic" type="checkbox" ng-model="groupForm.getField('public').value"/>
            </div>
            <button type="submit" class="btn btn-success">{{'%BUTTON_UPDATE%' | phrase}}</button>
        </form>

        <!--<p ng-show="group.public">-->
        <!--Share:-->
        <!--<input type="text" value="{{link}}">-->
        <!--</p>-->


    </div>
</div>

<a class="btn btn-info" href="/groups">
    <span class="glyphicon glyphicon-chevron-left"></span>
    {{'%BACK_TO_GROUPS%' | phrase}}
</a>



