<div class="container">


    <form novalidate class="form-inline input-append">

        <input type="text" ng-model="group.name" class="span2"
               placeholder="{{'%PLACEHOLDER_GROUP_NAME%' | phrase}}">
        <button ng-click="create(group)" class="btn">{{'%BUTTON_CREATE%' | phrase}}</button>
        <p ng-show="message">{{message}}</p>
    </form>


    <h5>{{'%TITLE_GROUPS%' | phrase}}</h5>
    <ul class="nav nav-list" ng-repeat="group in groups">
        <li >
            <div>
                <a href="/groups/{{group.key}}">{{group.name}}</a>
                <a href="#" ng-show="group.isAdmin(user)" ng-click="delete(group)">delete group</a>
            </div>
        </li>
    </ul>




</div>



