<div class="container home">
    <div class="logincontainer">
        <h1>arran.gr</h1>
        <h2>arrange your meetups!</h2>

        <div class="flip-container" ng-class="{'flip-container-flip':!isLogin}">
            <div class="flipper">
                <div class="front">
                    <form name="loginForm" novalidate class="form" ng-submit="login()">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <input required
                                       ng-model="loginModel.email"
                                       type="text"
                                       class="form-control"
                                       placeholder="{{'%PLACEHOLDER_EMAIL%' | phrase}}"
                                       name="email">
                            </div>
                            <div class="col-xs-6 form-group">
                                <input required
                                       ng-model="loginModel.password"
                                       type="password"
                                       class="form-control"
                                       placeholder="{{'%PLACEHOLDER_PASSWORD%' | phrase}}"
                                       name="password">
                            </div>
                        </div>

                        <div class="form-group alert alert-sm alert-danger" ng-show="loginModel.error">{{loginModel.error}}</div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-block btn-info">
                                {{'%BUTTON_LOGIN%' | phrase}}
                            </button>
                        </div>

                        <div class="alert alert-success alert-sm alert-inline">
                            Not a user?
                            <a ng-click="showRegister()" href="#" class="alert-link">
                                Sign up!
                            </a>
                        </div>
                    </form>
                </div>

                <div class="back">
                    <form name="registerForm" novalidate class="form" ng-submit="register()">
                        <div class="form-group">

                            <input required
                                   ng-model="registerModel.email"
                                   type="email"
                                   class="form-control"
                                   placeholder="{{'%PLACEHOLDER_EMAIL%' | phrase}}"
                                   name="email">
                        </div>

                        <div class="form-group alert alert-sm alert-danger" ng-show="registerModel.error">{{registerModel.error}}</div>

                        <div class="form-group">
                            <button class="btn btn-lg btn-block btn-success">
                                {{'%BUTTON_SIGNUP%' | phrase}}
                            </button>
                        </div>

                        <div class="form-group alert alert-sm alert-success" ng-show="registerModel.success">{{registerModel.success}}</div>

                        <div class="alert alert-info alert-sm alert-inline">
                            Already a user?
                            <a ng-click="showLogin()" href="#" class="alert-link">
                                Sign in!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>