<form class="form-signin">
    <input ng-model="loginForm.getField('email').value" type="text" class="form-control" placeholder="{{'%PLACEHOLDER_EMAIL%' | phrase}}" autofocus="" name="email">
    <input ng-model="loginForm.getField('password').value" type="password" class="form-control" placeholder="{{'%PLACEHOLDER_PASSWORD%' | phrase}}" name="password">
    <!--<label class="checkbox">-->
        <!--<input type="checkbox" value="remember-me"> Remember me-->
    <!--</label>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">{{'%BUTTON_LOGIN%' | phrase}}</button>
    <div class="alert alert-success">
        Not a user? <a ng-click="showRegister()" href="#">Sign up!</a>
    </div>
</form>
