<h2>Edit your profile</h2>


<form class="form-horizontal" role="form" name="form" novalidate ng-submit="save()">

    <div class="form-group">
        <strong class="col-sm-2 control-label">Picture</strong>
        <div class="col-sm-10">
            <div class="col-sm-2 col-xs-6">
            <label>
                Use gravatar
                <input name="gravatar"
                       type="checkbox"
                       ng-model="model.gravatar">
            </label>
            </div>
            <div class="col-sm-2 col-xs-6">
            <div class="imagedrop" upload-url="user.thumbnailPath()">
                <img class="thumbnail" ng-show="user.image" ng-src="{{ user.image.data }}"/>
                <span class="thumbnail message" ng-show="!user.image">Drop image here.</span>
            </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="profileFormName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input name="name"
                   class="form-control"
                   type="text"
                   id="profileFormName"
                   ng-model="model.name"
                   placeholder="Your display name">
        </div>
    </div>

    <div class="form-group">
        <label for="profileFormEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ user.email }}" id="profileFormEmail" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="profileFormPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input name="password"
                   class="form-control"
                   type="password"
                   ng-model="model.password"
                   ng-pattern="/(.{6,20})/"
                   id="profileFormPassword"
                   placeholder="New password">

        </div>
    </div>

    <div class="form-group">
        <label for="profileFormPassword2" class="col-sm-2 control-label">Confirm</label>
        <div class="col-sm-10">
            <input name="password2"
                   class="form-control"
                   type="password"
                   ng-pattern="/(.{6,20})/"
                   id="profileFormPassword2"
                   ng-model="model.password2"
                   placeholder="New password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success">Save</button>
        </div>
    </div>

</form>