@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    src: local('Oleo Script'), local('OleoScript-Regular'), url(oleoscript-400.woff) format('woff');
}

@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 700;
    src: local('Oleo Script Bold'), local('OleoScript-Bold'), url(oleoscript-700.woff) format('woff');
}

html {
    background: no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: transparent;
}

h1 {
    font-family: 'Oleo Script',cursive;
    font-size: 5em;
    margin-top: 0;
}

.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px;
    position: relative;
}

.page-header .top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    margin-top: 40px;
}

.logincontainer {
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.bgbyline {
    font-size: 60%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}

.flip-container-flip .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 360px;
    height: 227px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    /*background: lightgreen;*/
    z-index: 2;
}

.back {
    /*background: lightblue;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
