<h2>You have been invited to the meetup {{meetup}}!</h2>
<p>
    Your friend {{inviter}} wants you to join, follow this link to accept the invitation.
</p>
<p>
    <a href="{{link}}">{{link}}</a>
</p>
<p>
    Regards, Arran.gr
</p>